/* This is
a multi-line
comment */

body {
    background-color: white;
}

.class_name {
    text-align: center;
    color: red;
}

#id_name {
    text-align: center;
    color: red;
}

element_name {
    text-align: center;
    color: red;
}

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #444;
}

/* this is required to create borderless columns */
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.imgme {
  border: 3px solid white;
  /* box-shadow: #AAA 0px 0px 4px 0px; */
  float: left;
  margin-left: 30%;
  margin-right: 10px;
  /* reduce image size to make it match the text */
}

.header_bg {
  background-image: url('../images/wide_background_2000_400.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
  /* there are problems with very narrow screen sizes, header text disappears */
}

#header {
  width: 100%;
  height: 300px;
  font-weight: 300;
  margin-bottom: 40px;
}

#header_text {
  font-size: 26px;
  font-weight: 400;
  margin-top: 50px;
  margin-left: 220px;
  color: white;
}

#header_name {
  font-size: 46px;
  font-weight: 400;
}
#header_university_info {
  font-size: 18px;
  font-weight: 300;
  margin-top: -6px;
}
#header_email {
  font-size: 14px;
  font-weight: 300;
}

@media (max-width: 768px) {
  #headerblob {
    text-align: center;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;

  }
  .imgme {
    float: none;
    margin-left: None;
  }
  #headertext {
    margin-top: None;
  }
  #header_name {
    font-size: 28px;
  }
  #header_university_info {
    font-size: 16px;
  }

 hr.soft {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    padding: 0;
    margin: 0;
 }
/*
.bodydiv {
    width:100%;
    text-align: center;
}

.summer_internship {
}

.table_left_column {
    text-align: left;
}

.table_right_column {
    text-align: right;
}

.paper {
}

#university_info {
}

#bio {
}

#industry_experience {
}

#publications {
}

#personal_projects {
}

#contact {
}
*/
